body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.fixed-nav {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000;
}

.fixed-nav ul {
  list-style: none;
  padding: 0;
}

.fixed-nav li {
  margin-bottom: 10px;
}

.fixed-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.fixed-nav a:hover {
  color: #666;
}

.section {
  height: 100vh; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

/* Customize styles for each section as needed */
#introduction img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

#experience {
  background-color: #ccc;
}

#music {
  background-color: #ddd;
}

#book {
  background-color: #eee;
}

#clothing {
  background-color: #f5f5f5;
}

#design,
#graphic_illustrator {
  background-color: #f5f5f5;
  padding: 20px;
}

#graphic_illustrator iframe {
  margin-top: 20px;
}

#book,
#additional_books,
#reviews {
  background-color: #eee;
  padding: 20px;
}

#additional_books div {
  margin-bottom: 20px;
}

#clothing,
#stores,
#images {
  background-color: #f5f5f5;
  padding: 20px;
}

#stores div {
  margin-bottom: 20px;
}

.active-nav {
  color: #ff0000; /* Change color as needed */
}
